*/Minimal CSS Reset*/ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --font-size-base: 16px;
    --scale-ratio: 1.25;

    --font-size-small: 0.813rem; /* 13px */
    --font-size-base: 1rem; /* 16px */
    --font-size-h6: 1.25rem; /* 20px */
    --font-size-h5: 1.563rem; /* 25px */
    --font-size-h4: 1.953rem; /* 31px */
    --font-size-h3: 2.441rem; /* 39px */
    --font-size-h2: 3.052rem; /* 49px */
    --font-size-h1: 3.815rem; /* 61px */
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
}

h1 {
    font-size: 40px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}

header {
    background-color: black;
    text-align: center;
}

/* Style the topnav */
ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

/* Style links in topnav */
ul.topnav li a {
    display: block;
    color: #f1f1f1;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
ul.topnav li a:hover {
    background-color: #dddddd;
    color: black;
}

h3 {
    justify-content: center;
    border-style: outset;
    padding: 10px;
}
